header{
    background-color: #1F2937;
    color: white;
}
header h4{
    display: flex;
    justify-content: left;
    margin-left: 20%;
    font-size: 24px;
    color: #F9FAF8;
}
header h2{
    font-size: 48px;
    font-weight: #F9FAF8;
}
header{
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
}
header div h5{
    padding: 10px;
}
header p{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
}

.quote{
    background-color: #E5E7EB;
}
footer{
    background-color: #1F2937;
}